In [1]:
import pandas as pd
data=pd.read_csv("company1.csv")
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [4]:
#duplicate valuw
print(data.duplicated())  #fro complete row
print(data.duplicated().sum()) 
# if we want to check specific field in which duplicate values are not allowed
print(data["EEID"].duplicated().sum())  #for particular field

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool
1
2

In [6]:
#to remove duplicate values
print(data.drop_duplicates())
# if we want to remove for particular column
print(data.drop_duplicates("EEID"))

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN