In [11]:
#MERGE
import pandas as pd
data1={"EmpId":["E01","E02","E03","E04","E05"],"Name":["Dheeraj","Harshit","Dipesh","Ansh","Yash"],"Age":[19,21,18,20,22]}
data2={"EmpId":["E01","E02","E03","E04","E05"],"Salary":[50000,30000,40000,60000,35000]}

df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print(df1)
print()
print(df2)

  EmpId     Name  Age
0   E01  Dheeraj   19
1   E02  Harshit   21
2   E03   Dipesh   18
3   E04     Ansh   20
4   E05     Yash   22

  EmpId  Salary
0   E01   50000
1   E02   30000
2   E03   40000
3   E04   60000
4   E05   35000

In [2]:
#merging both dataframes on the basis of empid
df3=pd.merge(df1,df2,on="EmpId")
print(df3)

  EmpId     Name  Age  Salary
0   E01  Dheeraj   19   50000
1   E02  Harshit   21   30000
2   E03   Dipesh   18   40000
3   E04     Ansh   20   60000
4   E05     Yash   22   35000

In [12]:
#if the data has empty elements then the particular row is not displayed
data3={"EmpId":["E01","E02","E03","E04","E05"],"Name":["Dheeraj","Harshit","Dipesh","Ansh","Yash"],"Age":[19,21,18,20,22]}
data4={"EmpId":["E01","E02","E03","E07","E08"],"Salary":[50000,30000,40000,60000,35000]}

df4=pd.DataFrame(data4)
df5=pd.DataFrame(data3)
df6=pd.merge(df1,df2,on="EmpId")
print(df3)

  EmpId     Name  Age  Salary
0   E01  Dheeraj   19   50000
1   E02  Harshit   21   30000
2   E03   Dipesh   18   40000

In [14]:
#if we want to display all the data of a particular table even if it have a null value
df7=pd.merge(df4,df5,on="EmpId",how="left")
print(df7)

  EmpId  Salary     Name   Age
0   E01   50000  Dheeraj  19.0
1   E02   30000  Harshit  21.0
2   E03   40000   Dipesh  18.0
3   E07   60000      NaN   NaN
4   E08   35000      NaN   NaN

In [16]:
#similarly
df8=pd.merge(df4,df5,on="EmpId",how="right") #shows complete data table of right that is df5 in this case and df4 in above case
print(df8)

  EmpId   Salary     Name  Age
0   E01  50000.0  Dheeraj   19
1   E02  30000.0  Harshit   21
2   E03  40000.0   Dipesh   18
3   E04      NaN     Ansh   20
4   E05      NaN     Yash   22

In [18]:
#JOIN
#will perform later

In [20]:
#Concatenate
#for concatenation , same type of fields should be present on the both the datas
#it will add second |data after first data
data5={"EmpId":["E01","E02","E03","E04","E05"],"Name":["Dheeraj","Harshit","Dipesh","Ansh","Yash"],"Age":[19,21,18,20,22]}
data6={"EmpId":["E06","E07","E08","E09","E10"],"Name":["Dheeru","Harshu","Dipu","Anshu","Yashu"],"Age":[19,21,18,20,22]}
dff1=pd.DataFrame(data5)
dff2=pd.DataFrame(data6)

dff3=pd.concat([dff1,dff2])
print(dff3)

  EmpId     Name  Age
0   E01  Dheeraj   19
1   E02  Harshit   21
2   E03   Dipesh   18
3   E04     Ansh   20
4   E05     Yash   22
0   E06   Dheeru   19
1   E07   Harshu   21
2   E08     Dipu   18
3   E09    Anshu   20
4   E10    Yashu   22