In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv("company1.csv")
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [8]:
print(data["salary"].mean())

24400.0

In [2]:
print(data.isnull())

    EEID   Name  gender  salary
0  False  False   False    True
1  False  False   False   False
2  False  False    True   False
3  False  False   False   False
4  False   True   False   False
5  False  False   False    True
6  False  False   False   False

In [3]:
print(data.isnull().sum())

EEID      0
Name      1
gender    1
salary    2
dtype: int64

In [4]:
#drop all null values
print(data.dropna())
#we can't drop all null values everytime as it will affect the data

    EEID    Name gender   salary
1  EMP02   rohit      M  25000.0
3  EMP01  ayushi      F  20000.0
6  EMP02   rohit      M  25000.0

In [5]:
#to replace the null values
print(data.replace(np.nan,"hello"))
#the places where null values are present it will change them with the value provided

    EEID      Name gender   salary
0  EMP01    ayushi      F    hello
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali  hello  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05     hello      M  25000.0
5  EMP06     rohit      M    hello
6  EMP02     rohit      M  25000.0

In [13]:
#if we want to fill the null values of particular columnn
#for salary column the best approach is that we find the mean of salary and fill to remaining cells
data["salary"]=data["salary"].replace(np.nan,24400)
print(data)
print(data["salary"].mean())

    EEID      Name gender   salary
0  EMP01    ayushi      F  24400.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  24400.0
6  EMP02     rohit      M  25000.0
24400.0

In [14]:
#for gender it iw not better approach to fill every field with male or female
#so we use forward fill or backward fill
print(data.fillna(method="bfill"))

    EEID      Name gender   salary
0  EMP01    ayushi      F  24400.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      F  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05     rohit      M  25000.0
5  EMP06     rohit      M  24400.0
6  EMP02     rohit      M  25000.0

C:\Users\dheeraj\AppData\Local\Temp\ipykernel_9616\1203819250.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method="bfill"))

In [15]:
print(data.ffill())

    EEID      Name gender   salary
0  EMP01    ayushi      F  24400.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      M  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05    ayushi      M  25000.0
5  EMP06     rohit      M  24400.0
6  EMP02     rohit      M  25000.0

In [17]:
print(data.fillna("hi"))

    EEID      Name gender   salary
0  EMP01    ayushi      F  24400.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali     hi  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05        hi      M  25000.0
5  EMP06     rohit      M  24400.0
6  EMP02     rohit      M  25000.0