In [8]:
import pandas as pd
dict={"keys":["k1","k2","k3","k4"],"names":["john","ben","david","peter"],"houses":["red","blue","green","red"],"grades":["4th","7th","9th","10th"]}
df=pd.DataFrame(dict)
print(df)

  keys  names houses grades
0   k1   john    red    4th
1   k2    ben   blue    7th
2   k3  david  green    9th
3   k4  peter    red   10th

In [11]:
#pivot(rows,columns,value)
pdf=df.pivot(index="keys",columns="names",values=["houses","grades"])
print(pdf)

      houses                   grades
names    ben  david john peter    ben david john peter
keys
k1       NaN    NaN  red   NaN    NaN   NaN  4th   NaN
k2      blue    NaN  NaN   NaN    7th   NaN  NaN   NaN
k3       NaN  green  NaN   NaN    NaN   9th  NaN   NaN
k4       NaN    NaN  NaN   red    NaN   NaN  NaN  10th

In [12]:
#MELTING
dict1={"names":["john","ben","david","peter"],"houses":["red","blue","green","red"],"grades":["4th","7th","9th","10th"]}
df1=pd.DataFrame(dict1)
print(df1)

   names houses grades
0   john    red    4th
1    ben   blue    7th
2  david  green    9th
3  peter    red   10th

In [14]:
pdf1=pd.melt(df,id_vars=["names"],value_vars=["houses","grades"])
print(pdf1)

   names variable  value
0   john   houses    red
1    ben   houses   blue
2  david   houses  green
3  peter   houses    red
4   john   grades    4th
5    ben   grades    7th
6  david   grades    9th
7  peter   grades   10th

In [15]:
#set own variable name
pdf2=pd.melt(df,id_vars=["names"],value_vars=["houses","grades"],var_name="Houses & Grades" , value_name="Values")
print(pdf2)

   names Houses & Grades Values
0   john          houses    red
1    ben          houses   blue
2  david          houses  green
3  peter          houses    red
4   john          grades    4th
5    ben          grades    7th
6  david          grades    9th
7  peter          grades   10th